html {
  box-sizing: border-box;
}
html *,
html *:before,
html *:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  margin: 0;
}

.tiles {
  max-width: 800px;
  width: 90%;
  display: grid;
  grid-template-areas: "a-1 a-2 a-3 a-4" "b-1 b-2 b-3 b-4";
}
.tiles .tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100%;
  border: 1px solid #111;
  font-size: 50px;
  font-family: "Helvetica Neue", sans-serif;
  user-select: none;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.tiles .tile[data-animation] {
  cursor: pointer;
}

.tile:nth-child(1) {
  background-image: url(../images/1.jpg);
}

.tile:nth-child(2) {
  background-image: url(../images/2.jpg);
}

.tile:nth-child(3) {
  background-image: url(../images/3.jpg);
}

.tile:nth-child(4) {
  background-image: url(../images/4.jpg);
}

.tile:nth-child(5) {
  background-image: url(../images/5.jpg);
}

.tile:nth-child(6) {
  background-image: url(../images/6.jpg);
}

.tile:nth-child(7) {
  background-image: url(../images/7.jpg);
}

.tile:nth-child(8) {
  background-image: url(../images/8.jpg);
}

.tile[data-area=a-1] {
  grid-area: a-1;
}

.tile[data-area=a-2] {
  grid-area: a-2;
}

.tile[data-area=a-3] {
  grid-area: a-3;
}

.tile[data-area=a-4] {
  grid-area: a-4;
}

.tile[data-area=b-1] {
  grid-area: b-1;
}

.tile[data-area=b-2] {
  grid-area: b-2;
}

.tile[data-area=b-3] {
  grid-area: b-3;
}

.tile[data-area=b-4] {
  grid-area: b-4;
}

.emoji {
  grid-area: a-1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.emoji span {
  position: absolute;
  font-size: 2em;
  transition: 1s;
  opacity: 1;
}
.emoji span.hidden {
  pointer-events: none;
  opacity: 0;
}

.animating {
  transition: 0.25s;
}
.animating[data-animation=animate-tile-down] {
  top: 100% !important;
}
.animating[data-animation=animate-tile-up] {
  top: -100% !important;
}
.animating[data-animation=animate-tile-left] {
  left: -100% !important;
}
.animating[data-animation=animate-tile-right] {
  left: 100% !important;
}
